<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My LMS</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    form {
      width: 500px; /* Adjust width as needed */
    }
  </style>
</head>
<body>
  <nav>
    <h1><center>Change your Password here</center></h1>
  </nav>
    <section>
      <div class="form-container">
        <form action="/change-password/<%= role %>" method="post">
            <label for="oldPassword">Old Password:</label>
            <input type="password" id="oldPassword" name="oldPassword" required>
            <br><br>
            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" required>
            <br><br>
            <label for="confirmPassword">Confirm New Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
            <br><br>
            <button type="submit">Change Password</button>
        </form>
      </div>      
    </section>
    
    <%- include('../flash.ejs') %>
    <br>
    <% if (role === 'e') { %>
      <%- include('../edu/edufooter.ejs') %>
    <% } else { %>
      <%- include('../stu/stufooter.ejs') %>
    <% } %>
</body>
</html>