<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My LMS</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('eduheader.ejs') %>
    <h1 class="head">Create new course</h1>
    <br><br>
    <form action="/courses" method="post">
        <label for="coursename">What is the name of the course?</label><br><br>
        <input name="coursename" id="coursename" type="text" style="width: 400px"><br><br>
        <button type="submit">Submit</button>
    </form>
    <%- include('flash.ejs') %>
    <%- include('edufooter.ejs') %>
</body>
</html>