<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My LMS</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 class="head">Create chapter</h1>
    <br><br>
    <%= courseId %>
    <form action="/courses/<%= courseId %>/chapters" method="post">
        <label for="chaptername">What is the name of the chapter?</label><br><br>
        <input name="chaptername" id="chaptername" type="text" style="width: 400px"><br><br>
        <label for="desc">Description</label><br><br>
        <textarea rows="4" cols="50" name="desc"></textarea><br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>