<h1 class="head">Welcome!</h1>
<div style="text-align: right;">
    <a href="#changepass"><button>Change Password</button><br><br></a>
    <button><a href="#">View Reports</a></button><br><br>
    <a href="/signout"><button style="background-color: crimson;" type="button">Signout</button></a>
</div>
<hr>