<h1 class="head">Learning Management System</h1>
<div style="text-align: right;">
    <a href="/set-language/en"><button>English</button></a>
    <a href="/set-language/fr"><button>Français</button></a>
</div>