<nav>
    <h1 class="head">Learning Management System</h1>
    <div>
        <select id="language-select" class="language-dropdown" onchange="changeLanguage(this.value)">
            <option value="en">Select Language:</option>
            <option value="en">English</option>
            <option value="fr">Français</option>
        </select>
    </div>
</nav>

<script>
    function changeLanguage(lang) {
        // Redirect to the language setting route when the dropdown changes
        window.location.href = '/set-language/' + lang;
        console.log(lang);
    }
</script>