<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Selection</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1 class="head">Courses enrolled</h1>
        <div style="text-align: right;"><button style="background-color: crimson;" type="submit">Signout</button></div>
    </header>
    <hr>
    <main>
        <section id="avail">
            <div class="cards">
                <div class="card">
                    <div class="card-header">Python</div>
                    <div class="card-body">author name</div>
                    <div class="card-footer">
                        <form>
                            <button>Continue</button>
                            <button>Completed:0%</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>