<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My LMS</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('eduheader.ejs') %>
    <h1 class="head">New Page</h1>
    <form action="/chapters/<%= chapterId %>/pages" method="post">
        <label for="title">Title</label><br><br>
        <input name="title" id="title" type="text" style="width: 400px" required><br><br>
        <label for="content">Content</label><br><br>
        <textarea rows="8" cols="100" name="content"></textarea><br><br>
        <button type="submit">submit</button>
    </form>
    <%- include('edufooter.ejs') %>
</body>
</html>