<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My LMS</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 class="head">New Page</h1>
    <form>
        <label for="chaptername">Title</label><br><br>
        <input name="chaptername" id="chaptername" type="text" style="width: 400px"><br><br>
        <label for="desc">Content</label><br><br>
        <textarea rows="8" cols="100"></textarea><br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>