<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Selection</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1 class="head">Welcome!</h1>
        <div style="text-align: right;">
            <button>My courses</button><br><br>
            <a href="/signout"><button style="background-color: crimson;" type="submit">Signout</button></a>
        </div>
    </header>
    <hr>
    <main>
        <section id="avail">
            <p style="text-align: center;" id="avail">Available Courses</p>
            <div class="cards">
                <div class="card">
                    <div class="card-header">Python</div>
                    <div class="card-body">author name</div>
                    <div class="card-footer">
                        <form>
                            <button><a href="#viewcourse">View Course</a></button>
                            <button type="submit">Enroll</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>