<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My LMS</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('stuheader.ejs') %>
    <div style="text-align: right;"><a href="/mycourses"><button>My courses</button><br><br></a></div>
    <p style="text-align: center;" id="avail">Available Courses</p>
    <div class="cards">
        <% courses.forEach(course => { %>
                <div class="card">
                    <div class="card-header"><%= course.name %></div>
                    <div class="card-footer">
                        <a href="/viewcourse/<%= course.id %>"><button>View Course</button></a>
                        <form action="/enroll/<%= course.id %>" method="post">
                            <button type="submit">Enroll</button>
                        </form>
                    </div>
                </div>
        <% }); %>
    </div>
</body>
</html>