<h1 class="head">Welcome!</h1>
<div style="text-align: right;">
    <a href="/changepassstu"><button>Change Password</button><br><br></a>
    <a href="/signout"><button style="background-color: crimson;" type="submit">Signout</button></a>
</div>
<hr>