<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Selection</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    .chapapa {
        background-color: whitesmoke;
        color: black;
        border: 1px solid black;
        border-radius: 2px;
        width: 40%;
        overflow:auto;
        text-align: left;
    }
  </style>
</head>
<body>
    <header>
        <h1>Chapter name</h1>
        <p>description of the chapter</p>
    </header>
    <hr>
    <main>
        <h3><u><b>Pages</b></u></h3>
        <button class="chapapa">Page1 name</button><br><br>
        <button class="chapapa">Page2 name</button><br><br>
    </main>
</body>
</html>