<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Course Selection</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    .chapapa {
        background-color: whitesmoke;
        color: black;
        border: 1px solid black;
        border-radius: 2px;
        width: 40%;
        overflow:auto;
        text-align: left;
    }
  </style>
</head>
<body>
    <header>
        <h1><%= coursename %></h1>
        <%= eduname %>
        <br><br>
        <form post="/enroll/<%= courseId %>" method="post">
          <button type="submit">Enroll</button>
        </form>
    </header>
    <hr>
    <main>
        <h3><u><b>Chapters</b></u></h3>
        <% chapters.forEach(chapter => { %>
          <button class="chapapa" disabled><%= chapter.name %></button><br><br>
        <% }); %>
    </main>
</body>
</html>